
    <h2>reactive form</h2>
      <div class="container">
    <form [formGroup]="userform" (ngSubmit)="onSubmit()">
      <div class="row ">
      <div class=" col-6">
      <div class="form-group" >
        <label for="firstname">Firstname:</label>
        <input type="text" class="form-control" formControlName="fname"  id="firstname" name="fname">
        <span *ngIf="!userform.valid && userform.touched">please Enter the valid name!!!!!!</span>
      </div>
      
    <div class="form-group" >
        <label  for="lname">lastname</label>
        <input type="text" class="form-control" formControlName="lname" id="lname"  name="lname">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" formControlName="email" id="email" name="email">
        <span *ngIf="!userform.valid && userform.touched">please Enter the valid email!!!!!!</span>
      </div>
      <div  class="form-group">
        <label for="gender">gender  </label>
        <input class="ml-3" type="radio" formControlName="gender"  id="male" value="male" name="gender"> Male
        <input class="ml-2" type="radio" formControlName="gender" id="female" value="female" name="gender"> Female
    
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" formControlName="married" type="checkbox" name="married">married
        </label>
      </div>
    
    </div>
      <div class="col-6">
      <div class="form-group" formGroupName="address">
        <label for="country">country</label>
        <select class="form-control" formControlName="country" id="country"  name="country">
          <option *ngFor="let value of countrylist">{{value.countryname}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="city">city</label>
        <select  class="form-control" formControlName="city" id="city" name="city">
          <option *ngFor="let value of citylist">{{value.cityname}}</option>
        </select>
      </div>
      <div class="form-group">
        <label  for="street">street</label>
        <input type="text" class="form-control" formControlName="street" id="street" name="street">
      </div>
      <div class="form-group">
        <label for="pincode">pincode:</label>
        <input  type="number" class="form-control" formControlName="pincode" id="pincode" name="pincode">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]=!userform.valid>Submit</button>
      </div>
      </div>
    </form>
  </div>

  
      

